@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: #222;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  /* font-weight: 700; */
}
div::-webkit-scrollbar {
  width: 0;
}
.orbitron {
  font-family: var(--font-orbitron);
}
.nav-links:hover + .nav-link-text {
  display: block;
}
.wellcome-box {
  margin: 0 auto;
}

@media only screen and (min-width: 545px) {
  .mobile-menu {
    display: none !important;
  }
}
@media only screen and (max-width: 545px) {
  .nav-bar {
    position: absolute;
    height: 100dvh;
    width: 80dvw;
    background-color: #222;
    left: -100%;
    transition: all 0.65s ease-out;
  }
  .shownav {
    left: 0;
  }
  .card-content {
    width: 80%;
  }
  .card-header {
    width: 20%;
  }
}
@media only screen and (max-width: 365px) {
  .header-title {
    font-size: 1.65rem !important;
  }
}
