@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: #222;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  font-family: var(--font-syncopate);
  /* font-weight: 700; */
}
.syncopate {
  font-family: var(--font-syncopate);
}
.nav-links:hover + .nav-link-text {
  display: block;
}
.wellcome-box {
  margin: 0 auto;
}
