@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: #222;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}
.nav-links:hover + .nav-link-text {
  display: block;
}
